body {
    font: 75%/120% Arial, Tahoma, sans-serif;
    width: 1050px; margin: 30px auto;
    background: #666 url(../images/body-bg2.png);
    }
.hide {display: none; }

#largeImg{
    border: solid #666 2px; padding: 4px;
    background: #fff;
}
#img-container {
    margin: 0 10px;
    width: 438px;
    height: 642px;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
}
#largeImg { height: 630px;}

.thumbs { width: 156px; float: left; margin: 0 20px 0 10px; position: relative; }
   
.thumbs a {display: inline-block; position: relative; }
.thumbs a img {
    width: 145px; height: 200px;
	background: #fff;  
	border: solid #666 2px; 
	padding: 4px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
}

/* .thumbs a img:hover, */ .thumbs img.active {border-color: #031f7c; background: #518af5; }

/* #fon
    {
    position:absolute;
    top:6px;
    left:6px;
    background:rgba(0,0,0,0.7) url('images/zoomin.png') no-repeat center;
    width: 145px; height: 200px;
    display:inline-block;
    line-height: 232px;
    text-align: center;
    z-index: 999;
    }
*/

#zoom
    {
    border:none;
    background:none;
    box-shadow:none;
    width: 32px;
    height: 32px;
    position:absolute;
    top:50%;
    left:50%;
    }
